@page "/"

@inject NavigationManager NavigationManager
@inject IHttpClientFactory _clientFactory

<a class="btn btn-outline-dark" @onclick="ToForm">Добавить</a>

@if (posts == null)
{
    <div class="d-flex justify-content-center mt-3">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}
else
{
    <div class="d-flex flex-column">
        @foreach (Post post in posts)
        {
            <div class="py-1 px-3 my-3 bg-white rounded border border-secondary">
                <div class="d-flex justify-content-end">
                    <a class="btn p-1" @onclick="() => ToForm(post.Id)">
                        <i class="bi-pencil"></i>
                    </a>
                    <a class="btn p-1" @onclick="() => Delete(post.Id)">
                        <i class="bi-x"></i>
                    </a>
                </div>
                @if (post.Game != null)
                {
                    <h4>
                        <i class="bi-tv"></i>
                        @post.Game.Name
                    </h4>
                    <h5>
                        @if(post.Game.Developer != null)
                        {
                            <div>
                                <i class="bi-people"></i>
                                @post.Game.Developer.Name
                            </div>

                            @if(post.Game.Developer.Country != null)
                            {
                                <div>
                                    <i class="bi-geo-alt"></i>
                                    @post.Game.Developer.Country.Name
                                </div>
                            }
                        }
                        @if(post.Game.Platform != null)
                        {
                            <div>
                                <i class="bi-controller"></i>
                                @post.Game.Platform.Name
                            </div>
                        }
                    </h5>
                }
                <p>@post.Text</p>
            </div>
        }
    </div>
}

@code {
    private List<Post> posts;

    private async Task UpdateList()
    {
        var client = _clientFactory.CreateClient("poststation");
        var responce = await client.GetAsync("api/posts");

        if(responce.IsSuccessStatusCode)
        {
            posts = JsonConvert
                .DeserializeObject<List<Post>>(
                    responce.Content.ReadAsStringAsync().Result
                );
        }
    }

    protected override async Task OnInitializedAsync() => await UpdateList();

    private void ToForm() => NavigationManager.NavigateTo("add/posts");
    private void ToForm(int id) => NavigationManager.NavigateTo($"edit/posts/{id}");
    private async void Delete(int id)
    {
        var client = _clientFactory.CreateClient("poststation");
        var responce = await client.DeleteAsync($"api/posts/{id}");

        if(responce.IsSuccessStatusCode)
        {
            await UpdateList();
            this.StateHasChanged();
        }
    }
}